
<div th:fragment="binhLuan" id="reviews"
	class="style-v2 woocommerce-Reviews show_avatar devvn-style2">
	<div id="comments">
		<div class="woocommerce-Reviews-title">
			1 đánh giá cho <span>Paco Rabanne Pure XS EDT</span>
		</div>

		<div class="star_box">
			<div class="star-average">
				<div class="woocommerce-product-rating">
					<span class="star_average">4.00 <i class="devvn-star"></i></span> <strong>Đánh
						giá trung bình</strong>
				</div>
			</div>
			<div class="star_box_left">
				<div class="reviews_bar">
					<div class="devvn_review_row">
						<span class="devvn_stars_value">5<i class="devvn-star"></i></span>
						<span class="devvn_rating_bar"> <span
							style="background-color: #eee" class="devvn_scala_rating">
								<span class="devvn_perc_rating"
								style="width: 0%; background-color: #f5a623"></span>
						</span>
						</span> <span class="devvn_num_reviews"><b>0%</b> | 0 đánh giá</span>
					</div>
					<div class="devvn_review_row">
						<span class="devvn_stars_value">4<i class="devvn-star"></i></span>
						<span class="devvn_rating_bar"> <span
							style="background-color: #eee" class="devvn_scala_rating">
								<span class="devvn_perc_rating"
								style="width: 100%; background-color: #f5a623"></span>
						</span>
						</span> <span class="devvn_num_reviews"><b>100%</b> | 1 đánh giá</span>
					</div>
					<div class="devvn_review_row">
						<span class="devvn_stars_value">3<i class="devvn-star"></i></span>
						<span class="devvn_rating_bar"> <span
							style="background-color: #eee" class="devvn_scala_rating">
								<span class="devvn_perc_rating"
								style="width: 0%; background-color: #f5a623"></span>
						</span>
						</span> <span class="devvn_num_reviews"><b>0%</b> | 0 đánh giá</span>
					</div>
					<div class="devvn_review_row">
						<span class="devvn_stars_value">2<i class="devvn-star"></i></span>
						<span class="devvn_rating_bar"> <span
							style="background-color: #eee" class="devvn_scala_rating">
								<span class="devvn_perc_rating"
								style="width: 0%; background-color: #f5a623"></span>
						</span>
						</span> <span class="devvn_num_reviews"><b>0%</b> | 0 đánh giá</span>
					</div>
					<div class="devvn_review_row">
						<span class="devvn_stars_value">1<i class="devvn-star"></i></span>
						<span class="devvn_rating_bar"> <span
							style="background-color: #eee" class="devvn_scala_rating">
								<span class="devvn_perc_rating"
								style="width: 0%; background-color: #f5a623"></span>
						</span>
						</span> <span class="devvn_num_reviews"><b>0%</b> | 0 đánh giá</span>
					</div>
				</div>
			</div>
			<div class="star_box_right">
				<a href="" title="Đánh giá ngay"
					class="btn-reviews-now">Đánh giá ngay</a>
			</div>
		</div>

		<div id="review_form_wrapper" class="mfp-hide">
			<div id="review_form">
				<div id="respond" class="comment-respond">
					<span id="reply-title" class="comment-reply-title">Đánh giá
						Paco Rabanne Pure XS EDT <small><a rel="nofollow"
							id="cancel-comment-reply-link"
							href="/san-pham/paco-rabanne-pure-xs-edt/#respond"
							style="display: none;">Hủy</a></small>
					</span>
					<form action=""
						method="post" id="commentform" class="comment-form"
						novalidate="novalidate">
						<div class="comment-form-comment">
							<textarea id="comment" name="comment" cols="45" rows="8"
								minlength="10" required=""
								placeholder="Mời bạn chia sẻ thêm một số cảm nhận..."
								aria-required="true"></textarea>
						</div>
						<div class="wrap-attaddsend">
							<div class="review-attach">
								<span class="btn-attach devvn_insert_attach"
									data-rocket-lazy-bg-1dfdf221-16ba-44d5-8941-728ce5da0147="loaded">Gửi
									ảnh thực tế</span>
							</div>
							<span id="countContent">0 ký tự (Tối thiểu 10)</span>
						</div>
						<div class="list_attach">
							<ul class="devvn_attach_view"></ul>
							<span class="devvn_insert_attach"><i class="devvn-plus">+</i></span>
						</div>
						<div class="comment-form-rating">
							<label for="rating">Bạn cảm thấy thế nào về sản phẩm?
								(Chọn sao)</label>
							<p class="stars selected">
								<span> <a class="star-1" href="#">Rất tệ</a> <a
									class="star-2" href="#">Không tệ</a> <a class="star-3" href="#">Trung
										bình</a> <a class="star-4" href="#">Tốt</a> <a
									class="star-5 active" href="#">Tuyệt vời</a>
								</span>
							</p>
							<select name="rating" id="rating" required=""
								aria-required="true" style="display: none;">
								<option value="">Xếp hạng…</option>
								<option value="5" selected="selected">Rất tốt</option>
								<option value="4">Tốt</option>
								<option value="3">Trung bình</option>
								<option value="2">Không tệ</option>
								<option value="1">Rất tệ</option>
							</select>
						</div>
						<div class="form_row_reviews">
							<p class="comment-form-author">
								<input id="author" name="author" type="text" value="" size="30"
									required="" placeholder="Họ tên (bắt buộc)"
									aria-required="true">
							</p>
							<p class="comment-form-phone">
								<input id="phone" name="phone" type="text" size="30" required=""
									placeholder="Số điện thoại (bắt buộc)" aria-required="true">
							</p>
							<p class="comment-form-email">
								<input id="email" name="email" type="email" value="" size="30"
									placeholder="Email ">
							</p>
						</div>
						<p class="form-submit">
							<input name="submit" type="submit" id="submit" class="submit"
								value="Gửi đánh giá"> <input type="hidden"
								name="comment_post_ID" value="21272" id="comment_post_ID">
							<input type="hidden" name="comment_parent" id="comment_parent"
								value="0">
						</p>
					</form>
				</div>
				<!-- #respond -->
			</div>
			<button type="button" data-fancybox-close=""
				class="fancybox-button fancybox-close-small" title="Close">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path
						d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
                    </svg>
			</button>
		</div>


		<ol class="commentlist">
			<li class="review even thread-even depth-1" id="li-comment-4914">
				<div id="comment-4914" class="comment_container devvn_review_box">
					<div class="devvn_review_avatar"></div>
					<div class="comment-text">
						<div class="devvn_review_top">

							<p class="meta">
								<strong class="woocommerce-review__author">Tuấn Phi
									0932048***</strong> <em class="woocommerce-review__verified verified"
									data-rocket-lazy-bg-491d6e55-a5b5-476a-a06f-53f2567e9a62="loaded">Đã
									mua tại AromaBliss.com.vn</em>
							</p>

						</div>
						<div class="devvn_review_mid">
							<div class="star-rating" role="img"
								aria-label="Được xếp hạng 4 5 sao">
								<span style="width: 80%">Được xếp hạng <strong
									class="rating">4</strong> 5 sao
								</span>
							</div>
							<div class="description">
								<p>Pure XS nam này tông gỗ, mùi cũng trung bình, mình xài
									thấy nó cũng ko quá nổi bật, được cái bám mùi ổn</p>
							</div>
						</div>
						<div class="devvn_review_bottom">
							<div class="reply">
								<a rel="nofollow" class="comment-reply-link"
									href="#comment-4914" data-commentid="4914" data-postid="21272"
									data-belowelement="comment-4914" data-respondelement="respond"
									data-replyto="Phản hồi đến Tuấn Phi"
									aria-label="Phản hồi đến Tuấn Phi">Trả lời</a>
							</div>
							<span> • </span> <a href="" class="cmtlike"
								data-like="" data-id="4914" title=""
								data-rocket-lazy-bg-7406c32b-1c72-4958-93fb-a3266909d71b="loaded"><span
								class="cmt_count"></span> thích</a> <span> • </span>
							<time class="woocommerce-review__published-date"
								datetime="2021-09-02T00:00:00+07:00">02/09/2021</time>
						</div>
					</div>
				</div>
			</li>
		</ol>

	</div>
	<div class="clear"></div>
</div>