<div th:fragment="camKet" class="product-policises-wrapper">
	<ul class="product-policises">
		<li class="item_poli">
			<div class="img_poly">
				<img width="48" height="48" class="lazyload loaded"
					src="/img/icon/icon_chitiet_1.webp"
					alt="<strong>Cam kết hàng chính hãng 100%</strong> Hoàn tiền 200% nếu phát hiện hàng giả"
					data-was-processed="true">
			</div>
			<div class="content_poli">
				<strong>Cam kết hàng chính hãng 100%</strong> Hoàn tiền 200% nếu
				phát hiện hàng giả
			</div>
		</li>
		<li class="item_poli">
			<div class="img_poly">
				<img width="48" height="48" class="lazyload loaded"
					src="/img/icon/icon_chitiet_2.webp"
					alt="<strong>Bảo hành đến giọt cuối cùng</strong> Đổi trả trong 30 ngày"
					data-was-processed="true">
			</div>
			<div class="content_poli">
				<strong>Bảo hành đến giọt cuối cùng</strong> Đổi trả trong 30 ngày
			</div>
		</li>
		<li class="item_poli">
			<div class="img_poly">
				<img width="48" height="48" class="lazyload loaded"
					src="/img/icon/icon_chitiet_3.webp"
					alt="<strong>Giao hàng siêu tốc 3h</strong> trong nội thành HCM"
					data-was-processed="true">
			</div>
			<div class="content_poli">
				<strong>Giao hàng siêu tốc 3h</strong> trong nội thành HCM
			</div>
		</li>
		<li class="item_poli">
			<div class="img_poly">
				<img width="48" height="48" class="lazyload loaded"
					src="/img/icon/icon_chitiet_4.webp"
					alt="<strong>Miễn phí vận chuyển nội và ngoại thành TP HCM</strong>"
					data-was-processed="true">
			</div>
			<div class="content_poli">
				<strong>Miễn phí vận chuyển nội và ngoại thành TP HCM</strong>
			</div>
		</li>
		<li class="item_poli">
			<div class="img_poly">
				<img width="48" height="48" class="lazyload loaded"
					src="/img/icon/icon_chitiet_5.webp"
					alt="<strong>Gói quà cho khách hàng</strong> nhân dịp đặc biệt"
					data-was-processed="true">
			</div>
			<div class="content_poli">
				<strong>Gói quà cho khách hàng</strong> nhân dịp đặc biệt
			</div>
		</li>


	</ul>
</div>