<div th:fragment="CSDT" class="product-tab e-tabs not-dqtab">
	<ul class="tabs tabs-title clearfix">
		<li class="tab-link active" data-tab="#tab-1">
			<h3>Mô tả sản phẩm</h3>
		</li>
		<li class="tab-link" data-tab="#tab-2">
			<h3>Chính sách đổi trả</h3>
		</li>
	</ul>
	<div class="tab-float">
		<div id="tab-1" class="tab-content content_extab active">
			<div class="rte product_getcontent mt-4">
				<div id="content">
					<div class="product-attribute-list">
						<ul>
							<li class="product-attribute-list__item dl-horizontal attr-brand">
								<dl>
									<dt>
										<b>Mã hàng </b>110100203860
									</dt>
								</dl>
							</li>
							<li class="product-attribute-list__item dl-horizontal attr-brand">
								<dl>
									<dt>
										<b>Thương hiệu</b> Parfums De Marly
									</dt>
								</dl>
							</li>
							<li class="product-attribute-list__item dl-horizontal">
								<dl>
									<dt>
										<b>Xuất xứ</b> Pháp
									</dt>
								</dl>
							</li>
							<li class="product-attribute-list__item dl-horizontal">
								<dl>
									<dt>
										<b>Năm phát hành</b> 2021
									</dt>
								</dl>
							</li>
							<li class="product-attribute-list__item dl-horizontal">
								<dl>
									<dt>
										<b>Nhóm hương</b> Trầm hương, Kẹo nhân hạt, Nhụy hoa nghệ tây
									</dt>
								</dl>
							</li>
							<li class="product-attribute-list__item dl-horizontal">
								<dl>
									<dt>
										<b>Phong cách</b> Cuốn hút, Mạnh mẽ, Nam tính
									</dt>
								</dl>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="tab-2" class="tab-content content_extab mt-4">
			<div class="rte" style="line-height: 30px;">
				+ Sản phẩm lỗi, hỏng do quá trình sản xuất hoặc vận chuyện<br>
				+ Nằm trong chính sách đổi trả sản phẩm của Niperfume <br> +
				Sản phẩm còn nguyên tem mác chưa qua sử dụng và chưa giặt là<br>
				+ Thời gian đổi trả nhỏ hơn 02 ngày kể từ ngày nhận hàng<br> +
				Chi phí bảo hành về sản phẩm, vận chuyển khách hàng chịu chi phí <br>
				<b>Điều kiện đổi trả hàng</b><br> Điều kiện về thời gian đổi
				trả: trong vòng 02 ngày kể từ khi nhận được hàng và phải liên hệ gọi
				ngay cho chúng tôi theo số điện thoại trên để được xác nhận đổi trả
				hàng.<br> <b>Điều kiện đổi trả hàng:</b><br> - Sản phẩm
				gửi lại phải còn nguyên đai nguyên kiện<br> - Phiếu bảo hành
				(nếu có) và tem của công ty trên sản phẩm còn nguyên vẹn.<br> -
				Sản phẩm đổi/ trả phải còn đầy đủ hộp, giấy Hướng dẫn sử dụng và
				chưa qua sử dụng.<br> - Quý khách chịu chi phí vận chuyển, đóng
				gói, thu hộ tiền, chi phí liên lạc tối đa tương đương 20% giá trị
				đơn hàng.

			</div>
		</div>

	</div>
</div>