
<fieldset th:fragment="magiamgia" class="pro-discount">
	<legend>
		<img alt="MÃ GIẢM GIÁ" width="32" height="32" src="/img/icon/qua.webp">
		MÃ GIẢM GIÁ
	</legend>
	<div class="item_discount mt-3">
		<div class="top_discount">
			<div class="item-name">
				<p class="code_dis">200K</p>
				<span>Top Code</span>
			</div>
		</div>
		<div class="coupon_desc">Nhập mã NPF200 giảm ngay 200K</div>
		<div class="copy_discount">
			<p class="code_zip">NPF200</p>
			<button class="btn dis_copy" data-copy="NPF200">
				<span>Sao chép</span>
			</button>
		</div>
	</div>
	<div class="item_discount">
		<div class="top_discount">
			<div class="item-name">
				<p class="code_dis">15%</p>
			</div>
		</div>
		<div class="coupon_desc">Nhập mã NPF15 giảm ngay 15% tối đa 500K</div>
		<div class="copy_discount">
			<p class="code_zip">NPFVIP</p>
			<button class="btn dis_copy" data-copy="NPFVIP">
				<span>Sao chép</span>
			</button>
		</div>
	</div>
	<div class="item_discount">
		<div class="top_discount">
			<div class="item-name">
				<p class="code_dis">100K</p>
			</div>
		</div>
		<div class="coupon_desc">Nhập mã NPF100 giảm ngay 100K.</div>
		<div class="copy_discount">
			<p class="code_zip">NPF100</p>
			<button class="btn dis_copy" data-copy="NPF100">
				<span>Sao chép</span>
			</button>
		</div>
	</div>
</fieldset>