<div class="panel panel-default">
    <div class="panel-heading">
		<div class="app-title">
			<ul class="app-breadcrumb breadcrumb side">
				<li class="breadcrumb-item active"><a href="#"><b>QUẢN
							LÝ THƯƠNG HIỆU</b></a></li>
			</ul>
			<div id="clock"></div>
		</div>
	</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4 text-center">
                <label for="photo">
                    <img ng-src="{{'/img/thuonghieu/'+form.photo}}" style="max-width:100%;height: 250px;" alt="">
                </label>
            </div>
            <div class="col-sm-8">
                <div class="row">
				<!--	<div class="form-group col-sm-6">
                        <div>ID</div>
                        <input ng-model="form.id" type="text" class="form-control" name="" id="">
                    </div> -->
                    <div class="form-group col-sm-6">
                        <div>Trademark</div>
                        <input ng-model="form.trademark" type="text" class="form-control" name="" id="">
                    </div>
                    <div class="form-group col-sm-6">
                        <div>Country</div>
                        <input ng-model="form.country" type="text" class="form-control">
                    </div>
                    <div class="form-group col-sm-6">
                        <div>Note</div>
                        <input ng-model="form.note" type="text" class="form-control" name="" id="">
                    </div>
                    <div class="form-group col-sm-6">
                        <div>Image</div>
                        <input accept="image/gif, image/jpeg, image/png, image/jpg" onchange="angular.element(this).scope().imageChanged(this.files)" type="file" class="form-control" id="image">
                    </div>
                </div>
                
    
            </div>
        </div>
    </div>
    <div class="panel-footer text-center">
        <button ng-click="create()" class="btn btn-dark" ng-disabled="check!=''">
            <b class="glyphicon glyphicon-plus"></b> Create
        </button>
        <button ng-click="update()" class="btn btn-success" ng-disabled="check==''">
            <b class="glyphicon glyphicon-save"></b> Update
        </button>
        <button ng-click="delete(form)" class="btn btn-danger" ng-disabled="check==''">
            <b class="glyphicon glyphicon-trash"></b> Delete
        </button>
        <button ng-click="reset()" class="btn btn-info">
            <b class="glyphicon glyphicon-refresh"></b> Reset
        </button>
    </div>
</div>