<div class="panel panel-default">
	<div class="panel-heading">
		<div class="app-title">
			<ul class="app-breadcrumb breadcrumb side">
				<li class="breadcrumb-item active"><a href="#"><b>QUẢN
							LÝ THƯƠNG HIỆU</b></a></li>
			</ul>
			<div id="clock"></div>
		</div>
	</div>
    
    <div class="tile">
		
		<table class="table table-condensed">
		<thead class="bg-danger" style="font-variant: small-caps;">
			<tr>

				<th>Trademark</th>
				<th>Country</th>
				<th>Note</th>
				<th>Photo</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="itemb in pager.brand_items">

				<td>{{itemb.trademark}}</td>
				<td>{{itemb.country}}</td>
				<td>{{itemb.note}}</td>
				<td>{{itemb.photo}}</td>
				<td>
					<div class="btn-group btn-group-xs">
						<button ng-click="edit(itemb)" data-toggle="tab"
							data-target="#edit"
							class="btn btn-warning glyphicon glyphicon-edit"></button>
						<button ng-click="delete(itemb)"
							class="btn btn-danger glyphicon glyphicon-trash"></button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	</div>
	
	<div class="panel-footer text-center">
		<button ng-click="pager.first()" class="btn btn-danger">
			<b class="glyphicon glyphicon-hand-up"></b>
		</button>
		<button ng-click="pager.prev()" class="btn btn-dark">
			<b class="glyphicon glyphicon-hand-left"></b>
		</button>
		<button class="btn btn-success">{{pager.page + 1}} of
			{{pager.count}}</button>
		<button ng-click="pager.next()" class="btn btn-dark">
			<b class="glyphicon glyphicon-hand-right"></b>
		</button>
		<button ng-click="pager.last()" class="btn btn-danger">
			<b class="glyphicon glyphicon-hand-down"></b>
		</button>
	</div>
</div>