<div th:fragment="chonMucGia">
	<div class="filter-content">

		<div class="filter-container">
			<div class="col_title">
				<div class="filter-container__selected-filter" style="display: none;">
					<div class="filter-container__selected-filter-header clearfix">
						<span class="filter-container__selected-filter-header-title">
							Bạn chọn </span>
					</div>
					<div class="filter-container__selected-filter-list">
						<a href="" class="filter-container__clear-all">Bỏ hết <svg xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="10" height="10" x="0"
								y="0" viewBox="0 0 365.696 365.696" style="enable-background: new 0 0 512 512"
								xml:space="preserve" class="">
								<g>
									<path xmlns="http://www.w3.org/2000/svg"
										d="m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0"
										fill="#ffffff" data-original="#fff" style="" class="">
									</path>
								</g>
							</svg></a>
						<ul></ul>
					</div>
				</div>
			</div>
			<!-- Lọc giá -->

			<aside class="aside-item filter-price">

				<div class="title-head">Chọn mức giá</div>
				<div class="aside-content_sp filter-group content_price">
					<ul>
						<li class="filter-item filter-item--check-box filter-item--green">
							<input type="checkbox" id="priceRange1" name="priceRange" value="0-1000"
									onchange="applyFilter()">
								<label for="priceRange1">Dưới 1000$</label>
						</li>
						<li class="filter-item filter-item--check-box filter-item--green">
							<input type="checkbox" id="priceRange2" name="priceRange" value="1000-2000"
									onchange="applyFilter()">
								<label for="priceRange2">Từ 1000$ đến 2000$</label>
						</li>
						<li class="filter-item filter-item--check-box filter-item--green">
							<input type="checkbox" id="priceRange3" name="priceRange" value="2000-3000"
									onchange="applyFilter()">
								<label for="priceRange3">Từ 2000$ đến 3000$</label>
						</li>
						<li class="filter-item filter-item--check-box filter-item--green">
							<input type="checkbox" id="priceRange4" name="priceRange" value="3000-4000"
									onchange="applyFilter()">
								<label for="priceRange4">Từ 3000$ đến 4000$</label>
						</li>

					</ul>
				</div>
			</aside>
			<div class="border_filter"></div>
		</div>
	</div>
	<script>
		function applyFilter() {
			// Lấy danh sách các checkbox được chọn
			var selectedPrices = document.querySelectorAll('input[name="priceRange"]:checked');

			// Tạo một mảng chứa giá trị của các checkbox được chọn
			var selectedPriceValues = Array.from(selectedPrices).map(function (checkbox) {
				return checkbox.value;
			});

			// Chuyển hướng đến URL mới với tham số priceRange
			var url = '/product?priceRange=' + encodeURIComponent(selectedPriceValues.join(','));
			window.location.href = url;
		}
	</script>
</div>