<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main>
	<!-- FAGE -->
	<!-- BREAD-CRUMB  -->
	<section class="bread-crumb">
		<div class="container">
			<ul class="breadcrumb">
				<li class="home"><a href="/"><span>Trang chủ</span></a> <span
					class="mr_lr">&nbsp;<svg aria-hidden="true"
							focusable="false" data-prefix="fas" data-icon="chevron-right"
							role="img" xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 320 512"
							class="svg-inline--fa fa-chevron-right fa-w-10">
                                <path fill="currentColor"
								d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
								class></path>
                            </svg>&nbsp;
				</span></li>

				<li><strong><span>Liên hệ</span></strong></li>

			</ul>
		</div>
	</section>
	<!-- PAGE  -->
	<div class="layout-contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-12">
					<div class="contact">
						<h4>AromaBliss</h4>
						<div class="info-contact">
							<div class="description">
								<strong>AromaBliss</strong> luôn tôn trọng khách hàng, lấy niềm
								vui, sự hài lòng của khách hàng để làm động lực, không ngừng tìm
								kiếm các sản phẩm tốt nhất để mỗi khách hàng đều có thể trở nên
								tự tin và xinh đẹp hơn.
							</div>
							<div class="group-address">
								<ul>
									<li><b>Địa chỉ: </b><span>Phường Trung Mỹ Tây, Quận
											12, TP. Hồ Chí Minh</span></li>
									<li><b>Điện thoại: </b><a title="1900 1234"
										href="tel:1900 1234">1900 1234</a></li>
									<li><b>Email: </b><a title="aromablisst@com.vn"
										href="mailto:aromablisst@com.vn">aromablisst@com.vn</a></li>
								</ul>

							</div>
						</div>
					</div>

				</div>
				<div class="col-lg-6 col-12">
					<div class="form-contact">
						<h4>Liên hệ với chúng tôi</h4>
						<div id="pagelogin">
							<div class="group_contact">
								<input placeholder="Họ và tên" type="text"
									class="form-control  form-control-lg" required="" value=""
									name="contact[Name]"> <input placeholder="Email"
									type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
									required="" id="email1" class="form-control form-control-lg"
									value="" name="contact[email]"> <input type="number"
									placeholder="Điện thoại*" name="contact[phone]"
									class="form-control form-control-lg" required="">
								<textarea placeholder="Nội dung" name="contact[body]"
									id="comment" class="form-control content-area form-control-lg"
									rows="5" required=""></textarea>
								<button type="submit" class="btn-lienhe">Gửi thông tin</button>
							</div>
							</form>
						</div>
					</div>
				</div>
				<div class=" col-12">
					<div id="contact_map" class="map">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4435924070303!2d106.6252481085911!3d10.853826357720768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bee0b0ef9e5%3A0x5b4da59e47aa97a8!2zQ8O0bmcgVmnDqm4gUGjhuqduIE3hu4FtIFF1YW5nIFRydW5n!5e0!3m2!1svi!2s!4v1696575954129!5m2!1svi!2s"
							width="600" height="450" style="border: 0;" allowfullscreen=""
							loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	</main>
</body>

</html>