<div th:fragment="dungTich">
	<div class="filter-content">

		<div class="filter-container">
			<div class="col_title">
				<div class="filter-container__selected-filter" style="display: none;">
					<div class="filter-container__selected-filter-header clearfix">
						<span class="filter-container__selected-filter-header-title">
							Bạn chọn </span>
					</div>
					<div class="filter-container__selected-filter-list">
						<a href="" class="filter-container__clear-all">Bỏ hết <svg xmlns="http://www.w3.org/2000/svg"
								xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="10" height="10" x="0"
								y="0" viewBox="0 0 365.696 365.696" style="enable-background: new 0 0 512 512"
								xml:space="preserve" class="">
								<g>
									<path xmlns="http://www.w3.org/2000/svg"
										d="m243.1875 182.859375 113.132812-113.132813c12.5-12.5 12.5-32.765624 0-45.246093l-15.082031-15.082031c-12.503906-12.503907-32.769531-12.503907-45.25 0l-113.128906 113.128906-113.132813-113.152344c-12.5-12.5-32.765624-12.5-45.246093 0l-15.105469 15.082031c-12.5 12.503907-12.5 32.769531 0 45.25l113.152344 113.152344-113.128906 113.128906c-12.503907 12.503907-12.503907 32.769531 0 45.25l15.082031 15.082031c12.5 12.5 32.765625 12.5 45.246093 0l113.132813-113.132812 113.128906 113.132812c12.503907 12.5 32.769531 12.5 45.25 0l15.082031-15.082031c12.5-12.503906 12.5-32.769531 0-45.25zm0 0"
										fill="#ffffff" data-original="#fff" style="" class="">
									</path>
								</g>
							</svg></a>
						<ul></ul>
					</div>
				</div>
			</div>
			<!-- Lọc dung tích -->

			<aside class="aside-item filter-capacity">

				<div class="title-head">Chọn dung tích</div>
				<div class="aside-content_sp filter-group content_capacity">
					<ul>
						<li class="filter-item filter-item--check-box filter-item--green">
							<input type="checkbox" id="capacity_5ml" name="capacity" value="5"
								onchange="applyCapacityFilter()">
							<label for="capacity_5ml">5 ml</label>
						</li>
						<li class="filter-item filter-item--check-box filter-item--green">
							<input type="checkbox" id="capacity_10ml" name="capacity" value="10.0"
								onchange="applyCapacityFilter()">
							<label for="capacity_10ml">10 ml</label>
						</li>
						<li class="filter-item filter-item--check-box filter-item--green">
							<input type="checkbox" id="capacity_15ml" name="capacity" value="15.0"
								onchange="applyCapacityFilter()">
							<label for="capacity_15ml">15 ml</label>
						</li>
				
						<li class="filter-item filter-item--check-box filter-item--green">
							<input type="checkbox" id="capacity_15ml" name="capacity" value="30.0"
								onchange="applyCapacityFilter()">
							<label for="capacity_15ml">30 ml</label>
						</li>
						
						<li class="filter-item filter-item--check-box filter-item--green">
							<input type="checkbox" id="capacity_15ml" name="capacity" value="50.0"
								onchange="applyCapacityFilter()">
							<label for="capacity_15ml">50 ml</label>
						</li>
						
						<li class="filter-item filter-item--check-box filter-item--green">
							<input type="checkbox" id="capacity_15ml" name="capacity" value="75.0"
								onchange="applyCapacityFilter()">
							<label for="capacity_15ml">75 ml</label>
						</li>
						
						<li class="filter-item filter-item--check-box filter-item--green">
							<input type="checkbox" id="capacity_15ml" name="capacity" value="90.0"
								onchange="applyCapacityFilter()">
							<label for="capacity_15ml">90 ml</label>
						</li>
						
						<li class="filter-item filter-item--check-box filter-item--green">
							<input type="checkbox" id="capacity_15ml" name="capacity" value="100.0"
								onchange="applyCapacityFilter()">
							<label for="capacity_15ml">100 ml</label>
						</li>
					</ul>
				</div>
			</aside>
			<div class="border_filter"></div>
		</div>
	</div>

	<script>
		function applyCapacityFilter() {
			// Lấy danh sách các checkbox được chọn
			var selectedCapacities = document.querySelectorAll('input[name="capacity"]:checked');

			// Tạo một mảng chứa giá trị của các checkbox được chọn
			var selectedCapacityValues = Array.from(selectedCapacities).map(function (checkbox) {
				return checkbox.value;
			});

			// Chuyển hướng đến URL mới với tham số capacity
			var url = '/product?searchByCapacity=true&capacity=' + encodeURIComponent(selectedCapacityValues.join(','));
			window.location.href = url;
		}
	</script>
</div>