<div th:fragment="maGiamGia">
	 <section class="section_blog">
            <div class="container">
                <div class="block-blog">
                    <div class="blog-swiper swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events"
                        style="cursor: grab;">
                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px);">
                            <div class="swiper-slide swiper-slide-active" style="width: 350px; ">
                                <div class="coupon-item-wrap py-2 col-12 slick-slide slick-current slick-active"
                                    data-slick-index="0" aria-hidden="false" style="width: 316px;" tabindex="0">
                                    <div class="coupon_item coupon--new-style ">
                                        <div class="coupon_body coupon_body--beauty">
                                            <div
                                                class="coupon_body__top coupon_head d-flex justify-content-between flex-column flex-md-row flex-wrap flex-md-no-wrap">
                                                <div class="time-use">
                                                    <div
                                                        class="w-100 d-flex justify-content-center align-items-start flex-column">
                                                        <span class="date-allow">HSD: 12/05/2024</span>
                                                        <h3 class="coupon_title">
                                                            EGA FREESHIP </h3>
                                                    </div>
                                                </div>
                                                <div class="coupon_desc">
                                                    Cho đơn hàng từ 999K, (trừ Combo tiết kiệm) </div>
                                                <div class="coupon-icon-info text-center" data-coupon="EGAFREESHIP"
                                                    data-hsd="12/05/2024" data-title="EGA FREESHIP"
                                                    data-toggle="popover" data-trigger="hover" data-placement="bottom"
                                                    data-original-title="" title="">
                                                    <i class="fa fa-info"></i>
                                                    <div class="coupon-desc-info-hide d-none">
                                                        <div class="coupon-desc--head">EGA FREESHIP</div>
                                                        <div class="coupon-desc--body">
                                                            <div class="coupon-desc--row">
                                                                <span>Mã:</span>
                                                                <div>
                                                                    <span>EGAFREESHIP</span>
                                                                    <div class="coupon-copy-code coupon_copy copied type--icon"
                                                                        data-ega-coupon="EGAFREESHIP">
                                                                        <i class="far fa-copy"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="coupon-desc--row">
                                                                <span>HSD:</span>
                                                                <div>12/05/2024</div>
                                                            </div>
                                                            <div class="coupon-desc--row coupon-about">- Mã giảm 10% cho
                                                                đơn hàng có giá trị tối thiểu 2 triệu <br>
                                                                - Giảm tối đa 500k</div>
                                                        </div>
                                                    </div>
                                                    <div class="coupon_info">
                                                        - Mã giảm 10% cho đơn hàng có giá trị tối thiểu 2 triệu <br>
                                                        - Giảm tối đa 500k </div>
                                                </div>
                                            </div>
                                            <div class="coupon_body__bottom d-flex justify-content-between">
                                                <div class="copy-voucher">
                                                    EGAFREESHIP
                                                </div>
                                                <button type="button" class="btn btn-main btn-sm coupon_copy mb-0"
                                                    data-ega-coupon="EGAFREESHIP" tabindex="0">
                                                    <span>Lưu mã</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-next" style="width: 350px; ">
                                <div class="coupon-item-wrap py-2 col-12 slick-slide slick-active" data-slick-index="1"
                                    aria-hidden="false" style="width: 316px;" tabindex="0">
                                    <div class="coupon_item coupon--new-style ">
                                        <div class="coupon_body coupon_body--beauty">
                                            <div
                                                class="coupon_body__top coupon_head d-flex justify-content-between flex-column flex-md-row flex-wrap flex-md-no-wrap">
                                                <div class="time-use">
                                                    <div
                                                        class="w-100 d-flex justify-content-center align-items-start flex-column">
                                                        <span class="date-allow">HSD: 03/03/2023</span>
                                                        <h3 class="coupon_title">
                                                            GIẢM 1 TRIỆU </h3>
                                                    </div>
                                                </div>
                                                <div class="coupon_desc">
                                                    Áp dụng cho đơn hàng từ 600k </div>
                                                <div class="coupon-icon-info text-center" data-coupon="EGA1000"
                                                    data-hsd="03/03/2023" data-title="GIẢM 1 TRIỆU"
                                                    data-toggle="popover" data-trigger="hover" data-placement="bottom"
                                                    data-original-title="" title="">
                                                    <i class="fa fa-info"></i>
                                                    <div class="coupon-desc-info-hide d-none">
                                                        <div class="coupon-desc--head">GIẢM 1 TRIỆU</div>
                                                        <div class="coupon-desc--body">
                                                            <div class="coupon-desc--row">
                                                                <span>Mã:</span>
                                                                <div>
                                                                    <span>EGA1000</span>
                                                                    <div class="coupon-copy-code coupon_copy copied type--icon"
                                                                        data-ega-coupon="EGA1000">
                                                                        <i class="far fa-copy"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="coupon-desc--row">
                                                                <span>HSD:</span>
                                                                <div>03/03/2023</div>
                                                            </div>
                                                            <div class="coupon-desc--row coupon-about">- Mã giảm 15% cho
                                                                đơn hàng có giá trị tối thiểu 5 triệu <br>
                                                                - Giảm tối đa 2 triệu
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="coupon_info">
                                                        - Mã giảm 15% cho đơn hàng có giá trị tối thiểu 5 triệu <br>
                                                        - Giảm tối đa 2 triệu
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="coupon_body__bottom d-flex justify-content-between">
                                                <div class="copy-voucher">
                                                    EGA1000
                                                </div>
                                                <img src="//bizweb.dktcdn.net/100/492/958/themes/921762/assets/outdated.png?1696220599390"
                                                    alt="outdated" width="42" height="31">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 350px; ">
                                <div class="coupon-item-wrap py-2 col-12 slick-slide slick-active" data-slick-index="2"
                                    aria-hidden="false" style="width: 316px;" tabindex="0">
                                    <div class="coupon_item coupon--new-style ">
                                        <div class="coupon_body coupon_body--beauty">
                                            <div
                                                class="coupon_body__top coupon_head d-flex justify-content-between flex-column flex-md-row flex-wrap flex-md-no-wrap">
                                                <div class="time-use">
                                                    <div
                                                        class="w-100 d-flex justify-content-center align-items-start flex-column">
                                                        <span class="date-allow null">HSD: </span>
                                                        <h3 class="coupon_title">
                                                            GIẢM 40% </h3>
                                                    </div>
                                                </div>
                                                <div class="coupon_desc">

                                                    Cho các sản phẩm trong <a title="Set combo" href="" tabindex="0">Set
                                                        combo </a> </div>
                                                <div class="coupon-icon-info text-center" data-coupon="EGA40"
                                                    data-hsd="" data-title="GIẢM 40%" data-toggle="popover"
                                                    data-trigger="hover" data-placement="bottom" data-original-title=""
                                                    title="">
                                                    <i class="fa fa-info"></i>
                                                    <div class="coupon-desc-info-hide d-none">
                                                        <div class="coupon-desc--head">GIẢM 40%</div>
                                                        <div class="coupon-desc--body">
                                                            <div class="coupon-desc--row">
                                                                <span>Mã:</span>
                                                                <div>
                                                                    <span>EGA40</span>
                                                                    <div class="coupon-copy-code coupon_copy copied type--icon"
                                                                        data-ega-coupon="EGA40">
                                                                        <i class="far fa-copy"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="coupon-desc--row">
                                                                <span>HSD:</span>
                                                                <div></div>
                                                            </div>
                                                            <div class="coupon-desc--row coupon-about">- Đồng giá 2
                                                                triệu cho nhóm sản phẩm <a href="" tabindex="0">Set
                                                                    combo </a> <br>
                                                                - Tổng giá trị sản phẩm từ 5 triệu trở lên</div>
                                                        </div>
                                                    </div>
                                                    <div class="coupon_info">
                                                        - Đồng giá 2 triệu cho nhóm sản phẩm <a href="" tabindex="0">Set
                                                            combo </a> <br>
                                                        - Tổng giá trị sản phẩm từ 5 triệu trở lên </div>
                                                </div>
                                            </div>
                                            <div class="coupon_body__bottom d-flex justify-content-between">
                                                <div class="copy-voucher">
                                                    EGA40
                                                </div>
                                                <button type="button" class="btn btn-main btn-sm coupon_copy mb-0"
                                                    data-ega-coupon="EGA40" tabindex="0">
                                                    <span>Lưu mã</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 350px; ">
                                <div class="coupon-item-wrap py-2 col-12 slick-slide slick-active" data-slick-index="3"
                                    aria-hidden="false" style="width: 316px;" tabindex="0">
                                    <div class="coupon_item coupon--new-style ">
                                        <div class="coupon_body coupon_body--beauty">
                                            <div
                                                class="coupon_body__top coupon_head d-flex justify-content-between flex-column flex-md-row flex-wrap flex-md-no-wrap">
                                                <div class="time-use">
                                                    <div
                                                        class="w-100 d-flex justify-content-center align-items-start flex-column">
                                                        <span class="date-warning"><i class="far fa-clock"></i> Kết thúc
                                                            sau 21 giờ</span>
                                                        <h3 class="coupon_title">
                                                            GIẢM 40% </h3>
                                                    </div>
                                                </div>
                                                <div class="coupon_desc">
                                                    Cho sản phẩm thứ 4 trong đơn hàng </div>
                                                <div class="coupon-icon-info text-center" data-coupon="GIAM40"
                                                    data-hsd="20/10/2023" data-title="GIẢM 40%" data-toggle="popover"
                                                    data-trigger="hover" data-placement="bottom" data-original-title=""
                                                    title="">
                                                    <i class="fa fa-info"></i>
                                                    <div class="coupon-desc-info-hide d-none">
                                                        <div class="coupon-desc--head">GIẢM 40%</div>
                                                        <div class="coupon-desc--body">
                                                            <div class="coupon-desc--row">
                                                                <span>Mã:</span>
                                                                <div>
                                                                    <span>GIAM40</span>
                                                                    <div class="coupon-copy-code coupon_copy copied type--icon"
                                                                        data-ega-coupon="GIAM40">
                                                                        <i class="far fa-copy"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="coupon-desc--row">
                                                                <span>HSD:</span>
                                                                <div>20/10/2023</div>
                                                            </div>
                                                            <div class="coupon-desc--row coupon-about">- Miễn phí ship
                                                                100K cho đơn hàng tối thiểu từ 1 triệu <br>
                                                                - Áp dụng cho tất cả tỉnh / thành phố</div>
                                                        </div>
                                                    </div>
                                                    <div class="coupon_info">
                                                        - Miễn phí ship 100K cho đơn hàng tối thiểu từ 1 triệu <br>
                                                        - Áp dụng cho tất cả tỉnh / thành phố </div>
                                                </div>
                                            </div>
                                            <div class="coupon_body__bottom d-flex justify-content-between">
                                                <div class="copy-voucher">
                                                    GIAM40
                                                </div>
                                                <button type="button" class="btn btn-main btn-sm coupon_copy mb-0"
                                                    data-ega-coupon="GIAM40" tabindex="0">
                                                    <span>Lưu mã</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide" style="width: 350px; ">
                                <div class="coupon-item-wrap py-2 col-12 slick-slide" data-slick-index="4"
                                    aria-hidden="true" style="width: 316px;" tabindex="-1">
                                    <div class="coupon_item coupon--new-style no-icon">
                                        <div class="coupon_body coupon_body--beauty">
                                            <div
                                                class="coupon_body__top coupon_head d-flex justify-content-between flex-column flex-md-row flex-wrap flex-md-no-wrap">
                                                <div class="time-use">
                                                    <div
                                                        class="w-100 d-flex justify-content-center align-items-start flex-column">
                                                        <span class="date-allow">HSD: 21/10/2023</span>
                                                        <h3 class="coupon_title">
                                                            Giảm 30% </h3>
                                                    </div>
                                                </div>
                                                <div class="coupon_desc">
                                                    Cho đơn hàng từ 999K, (trừ Combo tiết kiệm) </div>
                                                <div class="coupon-icon-info text-center" data-coupon="GIAM40"
                                                    data-hsd="21/10/2023" data-title="Giảm 30%" data-toggle="popover"
                                                    data-trigger="hover" data-placement="bottom" data-original-title=""
                                                    title="">
                                                    <i class="fa fa-info"></i>
                                                    <div class="coupon-desc-info-hide d-none">
                                                        <div class="coupon-desc--head">Giảm 30%</div>
                                                        <div class="coupon-desc--body">
                                                            <div class="coupon-desc--row">
                                                                <span>Mã:</span>
                                                                <div>
                                                                    <span>GIAM40</span>
                                                                    <div class="coupon-copy-code coupon_copy copied type--icon"
                                                                        data-ega-coupon="GIAM40">
                                                                        <i class="far fa-copy"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="coupon-desc--row">
                                                                <span>HSD:</span>
                                                                <div>21/10/2023</div>
                                                            </div>
                                                            <div class="coupon-desc--row coupon-about">- Mã giảm 15% cho
                                                                đơn hàng có giá trị tối thiểu 5 triệu <br>
                                                                - Giảm tối đa 2 triệu </div>
                                                        </div>
                                                    </div>
                                                    <div class="coupon_info">
                                                        - Mã giảm 15% cho đơn hàng có giá trị tối thiểu 5 triệu <br>
                                                        - Giảm tối đa 2 triệu </div>
                                                </div>
                                            </div>
                                            <div class="coupon_body__bottom d-flex justify-content-between">
                                                <div class="copy-voucher">
                                                    GIAM40
                                                </div>
                                                <button type="button" class="btn btn-main btn-sm coupon_copy mb-0"
                                                    data-ega-coupon="GIAM40" tabindex="-1">
                                                    <span>Lưu mã</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span
                                class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
                                class="swiper-pagination-bullet"></span></div>
                    </div>
                </div>
            </div>
        </section>
</div>





