<div th:fragment="bannerPhu">
	<div class="container">
		<div class="section_3_banner">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<a class="three_banner" href="" title="Banner"> <img
						width="390" height="120" class="lazyload loaded"
						src="/img/banner_phu.webp" alt="Banner" data-was-processed="true">
					</a>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<a class="three_banner" href="/collections/all" title="Banner">
						<img width="390" height="120" class="lazyload loaded"
						src="/img/banner_phu_2.webp" alt="Banner" data-was-processed="true">
					</a>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<a class="three_banner" href="/collections/all" title="Banner">
						<img width="390" height="120" class="lazyload loaded"
						src="/img/banner_phu_3.webp" alt="Banner" data-was-processed="true">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>





