<div th:fragment="danhMuc">
	<div class="aside-content aside-content-blog">
		<div class="title-head">Danh mục</div>
		<nav class="nav-category">
			<ul class="nav navbar-pills list-group form-group">
				<li class="nav-item  relative"><a title="Trang chủ"
					class="nav-link" th:href="@{/home/index}">Trang chủ</a></li>
				<li class="nav-item  relative"><a title="Giới thiệu"
					class="nav-link" th:href="@{/home/about}">Giới thiệu</a></li>
				<li class="nav-item  relative"><a title="Sản phẩm"
					th:href="@{/home/product}" class="nav-link pr-5">Sản phẩm</a></li>
				<li class="nav-item  relative"><a title="Thương hiệu"
					class="nav-link" th:href="@{/home/thuongHieu}">Thương hiệu</a></li>
				<li class="nav-item active relative"><a title="Tin tức"
					class="nav-link" th:href="@{/home/tinTuc}">Tin tức</a></li>
				<li class="nav-item  relative"><a title="Liên hệ"
					class="nav-link" th:href="@{/home/contact}">Liên hệ</a></li>
			</ul>
		</nav>
	</div>
</div>




