<div th:fragment="section2">
	<section class="section hide-for-small" id="section_them">

		<div class="section-content relative container">

			<div class="row row-small small_them missi-box-help"
				id="row-64834343">

				<div class="col medium-3 small-12 large-3">
					<div class="col-inner">
						<div class="icon-box featured-box icon-box-left text-left">
							<div class="icon-box-img" style="width: 60px">
								<div class="icon">
									<div class="icon-inner">
										<img width="250" height="250"
											src="/img/icon/mien-phi-ship-toan-quoc.webp"
											class="attachment-medium size-medium entered lazyloaded"
											alt="Free Ship">
									</div>
								</div>
							</div>
							<div class="icon-box-text last-reset">
								<h3>Miễn phí toàn quốc</h3>
								<p>Freeship mọi đơn hàng</p>
							</div>
						</div>

					</div>
				</div>
				<div class="col medium-3 small-12 large-3">
					<div class="col-inner">
						<a class="plain" href="">
							<div class="icon-box featured-box icon-box-left text-left">
								<div class="icon-box-img" style="width: 60px">
									<div class="icon">
										<div class="icon-inner">
											<img width="512" height="512" src="/img/icon/doi-de-dang.webp"
												class="attachment-medium size-medium entered lazyloaded"
												alt="Doi Tra">
										</div>
									</div>
								</div>
								<div class="icon-box-text last-reset">
									<h3 class="info-title">Đổi dễ dàng</h3>
									<p>15 ngày đổi hàng</p>
								</div>
							</div>
						</a>

					</div>
				</div>
				<div class="col medium-3 small-12 large-3">
					<div class="col-inner">
						<div class="icon-box featured-box icon-box-left text-left">
							<div class="icon-box-img" style="width: 60px">
								<div class="icon">
									<div class="icon-inner">
										<img width="250" height="250" src="/img/icon/ho-tro-nhanh.webp"
											class="attachment-medium size-medium entered lazyloaded"
											alt="Tong Dai Ho Tro">
									</div>
								</div>
							</div>
							<div class="icon-box-text last-reset">

								<h3 class="info-title">Hỗ trợ nhanh</h3>
								<p>Gọi 0903765489 ngay</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col medium-3 small-12 large-3">
					<div class="col-inner">
						<div class="icon-box featured-box icon-box-left text-left">
							<div class="icon-box-img" style="width: 60px">
								<div class="icon">
									<div class="icon-inner">
										<img width="250" height="250"
											src="/img/icon/dich-vu-qua-tang.webp"
											class="attachment-medium size-medium entered lazyloaded"
											alt="Goi Qua Mien Phi">
									</div>
								</div>
							</div>
							<div class="icon-box-text last-reset">

								<h3 class="info-title">Dịch vụ quà tặng</h3>
								<p>Miễn phí thiệp, Gói quà</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
</div>





