<div th:fragment="vechungtoi">
	<section class="section_about">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-12">
					<span class="title-smail"> Về chúng tôi </span> <span
						class="title_we"> AromaBliss </span> <span class="content">
						AromaBliss chúng tôi luôn luôn đặt khách hàng lên hàng đầu, tận
						tâm phục vụ, mang lại cho khách hàng những trãi nghiệm tuyệt với
						nhất. Các sản phẩm độc quyền sẽ mang lại sự mới mẻ cho thực khách.
						AromaBliss xin chân thành cảm ơn. </span> <a href="#" class="xemthem"
						title="xem thêm">
						<div class="button-block">
							<span class="button-line-left"></span> <span class="button-text">Xem
								Thêm</span> <span class="button-line-right"></span>
						</div>
					</a>
				</div>
				<div class="col-lg-8 col-12 ">
					<div class="slideshow-container">
						<div class="mySlides fade">
							<img src="/img/banner_1.jpg">
						</div>

						<div class="mySlides fade">
							<img src="/img/banner_2.jpg">
						</div>

						<div class="mySlides fade">
							<img src="/img/banner_3.jpg">
						</div>
					</div>
					<br>

					<div style="text-align: center; margin-top: -45px">
						<span class="dot" onclick="currentSlide(0)"></span> <span
							class="dot" onclick="currentSlide(1)"></span> <span class="dot"
							onclick="currentSlide(2)"></span>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>





