<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">


<body>
	<main class="bg-light">
	<!-- BODY  -->
	<div class="bodywrap">
		<h1 class="d-none">AromaBliss</h1>

		<!-- BREAD-CRUMB  -->
		<section class="bread-crumb">
			<div class="container">
				<ul class="breadcrumb">
					<li class="home"><a href="/"><span>Trang chủ</span></a> <span class="mr_lr">&nbsp;<svg
								aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right"
								role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
								class="svg-inline--fa fa-chevron-right fa-w-10">
								<path fill="currentColor"
									d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"
									class></path>
							</svg>&nbsp;
						</span></li>

					<li><strong><span>Thương hiệu</span></strong></li>

				</ul>
			</div>
		</section>
		<!-- PAGE  -->


		<section class="page">
			<div class="container">
				<main id="main" class="">

					<div class="row page-wrapper">
						<div id="content" class="large-12 col" role="main">

							<header class="entry-header text-center">
								<h1 class="entry-title">Thương hiệu</h1>
						<div class="is-divider medium"></div>
							</header>

							<h2>Danh sách Thương Hiệu</h2>
							
								
								
									<div>
										
										<tr th:each="brand : ${brand_items}">
											<a class="image_thumb scale_hover"
													th:href="@{|/product?keyword=${brand.ID}|}"
													title="Calvin Klein CK Everyone Eau de Parfum">
											<img width="150" height="150" th:src="@{|/img/thuonghieu/${brand.photo}|}"
												alt="Calvin Klein CK Everyone Eau de Parfum">
												
												</a>
											
										</tr>
										
									</div>
								
							

						</div>



				</main>
			</div>
		</section>



	</div>
</main>
</body>

</html>